h1 {color: blue;
}
h1{font-size: 300%
}
h1 {text-align:center;
}
h1{
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }
 h1{border-style: solid;border-color: blueviolet; border-width: 5px;}

  h2{font-size: 200%
    }
    h2{ font-size: 250%; color: rgb(255, 3, 3);
    }
    h3{font-size: 225%;color: rgb(2, 87, 87);}
    h1{margin-left: 30%; margin-right: 20%;}
    h1{padding-left: 15%; padding-right: 15%;}